* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: "Roboto","Noto Sans TC", sans-serif;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.d-block {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-primary {
    color: #650300;
}

.text-light {
    color: #FFFFFF;
}

.text-gray {
    color: #707070;
}

.bg-primary {
    background-color: #AA0601;
}


.bg-secondary {
    background-color: #FBF2F2;
}

.bg-primary-emphasis {
    background-color: #650300;
}

